.authentication__header {
    color: white;
    text-align: center;
  }
  
  .authentication {
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto;
    text-align: center;
    
  }
  
  .authentication form {
    margin-bottom: 1rem;
  }
  .authentication button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color:  #252a34;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
 .authentication button:active {
	transform: scale(0.95);
}

.authentication button:focus {
	outline: none;
}

.authentication button.ghost {
	background-color: transparent;
    border-color: #252a34;
    color: #252a34;
}